# Django #
*.log
*.pot
*.pyc
local_settings.py
__pycache__
db.sqlite3
media

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Distribution / packaging
.Python
.env
.env.local
.env.staging
.env.production
!.env.example
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Developers
*.sw*
.DS_Store